.calendar-container {
  display: grid;
  background: linear-gradient(to right, #072f5f, #1261a0);
  grid-template-columns: repeat(2, 1fr);
}

.calendar-container h1 {
  color: #fff;
}

.calendar-right {
  height: 70vh;
  margin: 70px auto;
}

.DayPicker-Month {
  height: 60vh;
  width: 40vw;
  margin: 20px 30px;
  color: #fff;
}

.DayPicker-Day {
  border: 2px solid rgb(92, 86, 86);
}

.run-form input {
  margin: 22px auto;
  width: 30vw;
  height: 5vh;
  border-radius: 10px;
}
.run-form button {
  margin-top: 12px;
  width: 20vw;
  height: 5vh;
  border-radius: 10px;
}

.clear-btn {
  margin-right: 4px;
}
.clear-btn,
.show-btn {
  width: 8rem;
  height: 2rem;
  border-radius: 12px;
}

.event-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mobile media */

@media (max-width: 1025px) {
  .calendar-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .DayPicker-Month {
    width: 80vw;
    height: 50vh;
    margin-left: 6rem;
  }

  .clear-btn,
  .show-btn {
    width: 220px;
    height: 40px;
  }

  .calendar-right {
    width: 30vw;
  }

  .run-form h1 {
    font-size: xx-large;
  }

  .run-form input {
    width: 24rem;
  }
}

@media (max-width: 945px) {
  .run-form h1 {
    font-size: x-large;
  }
}

@media (max-width: 800px) {
  .calendar-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .DayPicker {
    width: 100vw;
    /* margin-left: 160px; */
  }

  .calendar-right {
    width: 50vw;
  }

  .clear-btn,
  .show-btn {
    width: 120px;
    height: 30px;
  }
}

@media (max-width: 620px) {
  .run-form input {
    width: 18rem;
  }
}

@media (max-width: 550px) {
  .calendar-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .DayPicker {
    width: 90vw;
    /* margin-left: 160px; */
  }

  .calendar-right {
    width: 50vw;
  }

  .run-form h1 {
    font-size: large;
  }

  .run-form input {
    width: 15rem;
  }
}

@media (max-width: 420px) {
  .calendar-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .DayPicker {
    width: 90vw;
    /* margin-left: 160px; */
  }

  .calendar-right {
    width: 50vw;
  }

  .run-form h1 {
    font-size: large;
  }

  .run-form input {
    width: 14rem;
  }
}

@media (max-width: 330px) {
  .calendar-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .DayPicker {
    width: 80vw;
    /* margin-left: 160px; */
  }

  .calendar-right {
    width: 60vw;
  }

  .run-form h1 {
    font-size: large;
  }

  .run-form input {
    width: 13rem;
  }
}
