.calendar-container {
  display: grid;
  background-color: red;
  grid-template-columns: repeat(2, 1fr);
}

.calendar-right {
  height: 70vh;
  background-color: blue;
  margin: 70px auto;
}

.DayPicker-Month {
  height: 60vh;
  width: 40vw;
  margin: 20px 30px;
}

.DayPicker {
  /* display: flex;
  justify-content: center;
  margin: 20px 60px; */
  /* background: url("./wave.svg"); */
}

.DayPicker-Day {
  border: 2px solid #333;
}

/* .run-form {
  margin: 50px auto;
} */

.run-form input {
  margin: 22px auto;
  width: 30vw;
  height: 5vh;
  border-radius: 10px;
}
.run-form button {
  margin-top: 12px;
  width: 20vw;
  height: 5vh;
  border-radius: 10px;
}

.clear-btn {
  margin-right: 4px;
}
.clear-btn,
.show-btn {
  width: 8rem;
  height: 2rem;
  border-radius: 12px;
}

.event-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .calendar-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .DayPicker {
    width: 100vw;
    /* margin-left: 160px; */
  }

  .calendar-right {
    width: 50vw;
  }
}
