.main {
  background: linear-gradient(to right, #072f5f, #1261a0);
  height: 100vh;
}

.main-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.heading {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 50vh;
  width: 30%;
  margin-top: 7rem;
  margin-right: 5rem;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  font-size: 3rem;
  color: #fff;
}

.header-image img {
  display: block;
  margin: 0 auto;
  width: 700px;
  height: 450px;
  border-radius: 30px;
}

.main-btn {
  display: flex;
  padding: 20px 10px;
  justify-content: center;
}

.main-btn button {
  padding: 20px 20px;
  margin: 5px 15px;
  width: 22rem;
  height: 6rem;
  border-radius: 6rem;
  background-color: #fff;
  color: #1261a0;
  font-weight: 300;
  font-size: x-large;
}

.header-line {
  position: absolute;
  top: 35%;
  max-width: 80%;
  width: 40%;
  height: 2px;
  background-color: #000;
  margin-top: 12px;
}

.header-text {
  margin-top: 5rem;
}

@media (max-width: 500px) {
  .main-heading {
    flex-direction: column;
    margin: 1rem auto;
  }

  .heading {
    margin: 1rem auto;
    width: 80vw;
    font-size: 2rem;
  }

  .header-line {
    top: 25%;
    width: 80%;
  }

  .header-text {
    margin-top: 3rem;
    margin-left: 20px;
    font-size: 1.7rem;
  }

  .header-image img {
    width: 500px;
    height: 300px;
  }
  .main-btn button {
    width: 8rem;
    height: 4rem;
    border-radius: 2rem;
  }
}

@media (max-width: 500px) {
  .heading {
    margin: 1rem auto;
    width: 90vw;
    font-size: 2rem;
  }
}

@media (max-width: 370px) {
  .main {
    height: 100vh;
  }

  .heading {
    margin: 10px auto;
    width: 90vw;
    font-size: 2rem;
  }

  .header-line {
    top: 30%;
    width: 80%;
  }

  .main-btn {
    padding: 1px;
  }
  .main-btn button {
    width: 7rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 1rem auto;
    padding: 1px;
  }
}
