.main {
  background: linear-gradient(to right, #072f5f, #1261a0);
  height: 100vh;
}

.main-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.heading {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 50vh;
  width: 30%;
  margin-top: 7rem;
  margin-right: 5rem;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  font-size: 3rem;
  color: #fff;
}

.header-image img {
  display: block;
  margin: 0 auto;
  width: 700px;
  height: 450px;
  border-radius: 30px;
}

.main-btn {
  display: flex;
  padding: 20px 10px;
  justify-content: center;
}

.main-btn button {
  padding: 20px 20px;
  margin: 5px 15px;
  width: 22rem;
  height: 6rem;
  border-radius: 6rem;
  background-color: #fff;
  color: #1261a0;
  font-weight: 300;
  font-size: x-large;
}

.header-line {
  position: absolute;
  top: 35%;
  max-width: 50%;
  width: 40%;
  height: 2px;
  background-color: #000;
  margin-top: 12px;
}

.header-text {
  margin-top: 5rem;
}
