.navbar {
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #072f5f, #1261a0);
  color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  border: 2px solid #000;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1440px; */
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.link {
  color: #fff;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.navbar li {
  margin: 0 15px;
  font-weight: bold;
}

.navbar-logo img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.navbar-left {
  text-transform: uppercase;
  flex: 1;
  margin-left: 20px;
}

/* li {
  list-style: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name {
  display: flex;
  justify-content: left;
} */
